configuration{
 font: "JetBrainsMono Nerd Font Propo 20";
 modi: "dmenu";
 fixed-num-lines: false;
 show-icons: false;
 icon-theme: "Icons";
 eh: 1;
 dpi: 100;
 display-drun: "";
 display-run: "";
 display-filebrowser: "󱧷";
 location: 0;
/* hover-select: true;
 me-select-entry: '';
 me-accept-entry: "MousePrimary"; */
}

@theme "~/.config/rofi/scripts/theme-mode/theme.rasi"
