@import "~/.config/rofi/colors/colors.rasi"
@import "~/.config/rofi/colors/radius.rasi"

window {
  width: 33em;
  padding: 0em;
  border: 0px;         
  border-color: var(primary);
  border-radius: var(borderradius);
  transparency: "real";
  background-color: var(surface);
  x-offset: 0em;
  y-offset: 0em;
}

error-message {
  enabled: true;
  padding: 0.8em;
  background-color: transparent;
  border-color: var(primary);
  border-radius: var(borderradius);
}

textbox {
  enabled: true;
  padding: 0.4em 0.54em 0.4em 0.54em;
  str: "Keine Ergebnisse!";
  text-color: var(error);
  background-color: var(surface-container);
  border-radius: var(buttonradius);
  border-color: var(primary);
}

entry {
  hide-cursor-on-empty: true;
  placeholder: " Suchen...";
  placeholder-color: var(secondary);
  text-color: var(secondary);
  border: 0em;
  border-color: var(primary);
  padding: 0.4em 0.54em 0.4em 0.54em;
  border-radius: var(buttonradius);
  background-color: var(surface-container);
}

listview {
  lines: 10;
  margin: 0em;
  padding: 0.8em 0em 0em 0em;
  columns: 1;
  fixed-columns: false;
  background-color: transparent;
  scrollbar: false;
  cycle: false;
  border: 0em;
  border-color: var(primary);
}

mainbox {
  background-color: transparent;
  spacing: 0em; 
  padding: 0.8em;
  border-radius: var(borderradius);
  children: [ inputbar, listview ];
}

inputbar {
  padding: 0em;
  background-color: transparent;
  children: [ entry ];
  border: 0em;
  border-color: var(primary);
}

element {
  padding: 0.4em 0.54em 0.4em 0.54em;
  orientation: horizontal;
  margin: 0.14em;
  border-radius: var(buttonradius);
  border: 0em;
}

element normal.normal {
  background-color: transparent;
  text-color: var(secondary);
}

element normal.active {
  background-color: transparent;
  text-color: var(secondary);
}

element normal.urgent {
  background-color: transparent;
  text-color: var(secondary);
}

element alternate.active {
  background-color: transparent;
  text-color: var(secondary);
}

element alternate.normal {
  background-color: transparent;
  text-color: var(secondary);
}

element alternate.urgent {
  background-color: transparent;
  text-color: var(secondary);
}

element-text {
  background-color: #00000000;
  text-color: inherit;
  padding: 0em;
  vertical-align: 0.5;
  highlight: bold underline;
}

element selected.normal {
  background-color: var(surface-container-highest);
  text-color: var(secondary);
  border: 0em;
  border-color: var(primary);
}

element-icon {
  size: 1.6em; 
  background-color: transparent;
  text-color: inherit;
}
