configuration {
  font: "JetBrainsMono Nerd Font Propo 13";
  modi: "dmenu";
  fixed-num-lines: true;
  show-icons: true;
  icon-theme: "Papirus-Dark-Matugen";
  eh: 2;
  dpi: 100;
  click-to-exit: true;
  location: 0;
}

@theme "~/.config/rofi/scripts/wallpaper/chooser-theme.rasi"
