configuration {
  font: "JetBrainsMono Nerd Font Propo 15";
  modi: "calc";
  fixed-num-lines: true;
  show-icons: false;
  eh: 1;
  dpi: 100;
  click-to-exit: true;
  location: 0;
  calc {
    hint-result: " ";
    hint-welcome: " ";
  }
}

@theme "~/.config/rofi/scripts/calc/theme.rasi"
