configuration{
  font: "JetBrainsMono Nerd Font Propo 13";
  modi: "dmenu";
  markup-rows: true;

  show-icons: false;
  icon-theme: "Icons";

  lines: 6;
  columns: 1;
  fixed-num-lines: false;

  eh: 1;

  dpi: 100;
  click-to-exit: true;

  hover-select: true;
  me-select-entry: "";
  me-accept-entry: "MousePrimary";

  location: 0;
}

@theme "~/.config/rofi/scripts/power/theme.rasi"
