* {
    primary: #b7d085;
    primary-fixed: #d3ec9e;
    primary-fixed-dim: #b7d085;
    on-primary: #253600;
    on-primary-fixed: #141f00;
    on-primary-fixed-variant: #3a4d11;
    primary-container: #3a4d11;
    on-primary-container: #d3ec9e;
    secondary: #c2caab;
    secondary-fixed: #dee6c5;
    secondary-fixed-dim: #c2caab;
    on-secondary: #2c331d;
    on-secondary-fixed: #171e0a;
    on-secondary-fixed-variant: #424a32;
    secondary-container: #424a32;
    on-secondary-container: #dee6c5;
    tertiary: #a0d0c8;
    tertiary-fixed: #bcece4;
    tertiary-fixed-dim: #a0d0c8;
    on-tertiary: #013732;
    on-tertiary-fixed: #00201d;
    on-tertiary-fixed-variant: #204e49;
    tertiary-container: #204e49;
    on-tertiary-container: #bcece4;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #12140d;
    on-surface: #e3e3d8;
    on-surface-variant: #c6c8b9;
    outline: #8f9284;
    outline-variant: #45483c;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e3e3d8;
    inverse-on-surface: #2f3129;
    inverse-primary: #516527;
    surface-dim: #12140d;
    surface-bright: #383a32;
    surface-container-lowest: #0d0f09;
    surface-container-low: #1a1c15;
    surface-container: #1e2019;
    surface-container-high: #292b23;
    surface-container-highest: #34362e;
}