* {
    primary: #ddc66e;
    primary-fixed: #fae287;
    primary-fixed-dim: #ddc66e;
    on-primary: #3a3000;
    on-primary-fixed: #221b00;
    on-primary-fixed-variant: #544600;
    primary-container: #544600;
    on-primary-container: #fae287;
    secondary: #d2c6a1;
    secondary-fixed: #efe2bc;
    secondary-fixed-dim: #d2c6a1;
    on-secondary: #373016;
    on-secondary-fixed: #211b04;
    on-secondary-fixed-variant: #4e462a;
    secondary-container: #4e462a;
    on-secondary-container: #efe2bc;
    tertiary: #aad0b2;
    tertiary-fixed: #c6eccd;
    tertiary-fixed-dim: #aad0b2;
    on-tertiary: #153722;
    on-tertiary-fixed: #00210e;
    on-tertiary-fixed-variant: #2c4e37;
    tertiary-container: #2c4e37;
    on-tertiary-container: #c6eccd;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #16130b;
    on-surface: #e9e2d4;
    on-surface-variant: #cdc6b4;
    outline: #979080;
    outline-variant: #4b4739;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e9e2d4;
    inverse-on-surface: #333027;
    inverse-primary: #6f5d0e;
    surface-dim: #16130b;
    surface-bright: #3c392f;
    surface-container-lowest: #100e07;
    surface-container-low: #1e1b13;
    surface-container: #221f17;
    surface-container-high: #2d2a21;
    surface-container-highest: #38352b;
}